extends layout

block content
  h1= title
  p Welcome to #{title}
  p sup
  p May wuz hur
  p Hi ya'll, from Kirstie.



  p ezzz




  p Teofilo Callanaupa




  p Kaitlin Browne

  <iframe src='https://webchat.botframework.com/embed/myclasspet1?s=#{process.env.YOUR_SECRET_HERE}'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>